@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.signup{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    background-color: #212121;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    
}

.signup h1{
    font-size: 3.5rem;
    letter-spacing: 2.5px;
}
.login{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px black solid;
    color: #212121;
}

.login h1{
    font-size: 3.5rem;
}
.b1,.b2,.b3,.b4{
    background: #32E0C4;
    height:45px;
    width: 220px;
    left: 98px;
    top: 672px;
    border-radius: 0.5px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 20px;
    color:#212121;
    margin-top: 25px;
    cursor: pointer;
}
.b2,.b4{
    background: #EEEEEE;
    font-size: 15px;
    color: #212121;
    margin-top: 5px;
}
.b4{
    background:  #212121;
    color: #EEEEEE;
}
.b3{
    background: #0D7377;
    color: #EEEEEE;
}
h1 {
    font-weight: 700;
    font-size: 55px;
    margin-top: -10px;
}
input {
    width: 350px;
    margin-bottom: 9px;
    border: 1px black solid;
}

.b1:hover{
    letter-spacing: -0.5px;
    background-color: #12ecc8;
    box-shadow: 1.5px 2.5px 10px #12ecc8;
}
.b3:hover{
    letter-spacing: -0.5px;
    background-color: #0D7377;
    box-shadow: 1.5px 2.5px 10px #0c989c;
}
.inputs{
    margin: 10px 0;
}