.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.signup{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    background-color: #212121;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    
}
.login{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px black solid;
    color: #212121;
}
.b1,.b2,.b3,.b4{
    background: #32E0C4;
    height:45px;
    width: 220px;
    left: 98px;
    top: 672px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 20px;
    color:#212121;
    margin-top: 50px;
    cursor: pointer;
}
.b2,.b4{
    background: #EEEEEE;
    font-size: 15px;
    color: #212121;
    margin-top: 5px;
}
.b4{
    background:  #212121;
    color: #EEEEEE;
}
.b3{
    background: #0D7377;
    color: #EEEEEE;
}
h1 {
    font-weight: 700;
    font-size: 55px;
    margin-top: -10px;
}
input {
    width: 300px;
    margin-bottom: 9px;
}
