@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.left{
    /* border: 1px solid black; */
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 60%;
    width: 50%;
    margin-left: 90px; 
    margin-top: 50px;
}
.left h1{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    color: #1B262C;
}
.left p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.left button{
    background: #32E0C4;
    /* height:45px;
    width: 220px;
    left: 98px;
    top: 672px; */
    border-radius: 0.75px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 22.5px;
    color: #3F3D56;
    margin-top: 30px;
    cursor: pointer;
}
.rightsvg{
    /* border: 1px solid black; */
    width: 60%;
}
.rightsvg img{
    height: 80vh;
}

.getstartedButton:hover{
    letter-spacing: -0.5px;
    /* background-color: #12ecc8; */
    box-shadow: 2.5px 2.5px 10px #12ecc8;
}

.intro-desp{
    font-size: 24.5px;
}