.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
}
.left {
  border: 1px solid black;
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 60%;
  width: 50%;
  padding-left: 50px;
}
.left h1 {
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  color: #1b262c;
}
.left p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.leftButton {
  background: #32e0c4;
  text-decoration: none;
  clear: left;
  padding: 10px;
  height: 45px;
  width: 220px;
  left: 98px;
  top: 672px;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 20px;
  color: #3f3d56;
  margin-top: 30px;
  cursor: pointer;
}
.right {
  border: 1px solid black;
  width: 60%;
}
.right img {
  height: 450px;
}
