/*.MyProfile-prnt{
    height: 100vh;
    width: 100%;
}*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.MyProfile-cntr{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /* border: 1px black solid; */
}
.MyProfile-left{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    /* border: 1px black solid; */
    background-color: #212121;
}
.MyProfile-center{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 40%;
    margin-left: 20px;
    margin-top: 5vh;
    border-radius: 5px;
    background-color: #e4f5f2;
    box-shadow: 10px 10px 50px #aaf8eb;
}
.MyProfile-right{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 20%;
    margin-left: 10%;
    text-align: justify;
  text-justify: inter-word;
    /* border: 1px black solid; */
}
.MyProfile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px black solid; */
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 25px;
    background-color: #212121;
    line-height: 27%;
    font-size: 80px;
    color: #32E0C4;
    font-weight: 500;
}
.MyProfile-details{
    margin-top: 5%;
    margin-left: 35px;
    font-weight: 600;
    font-size: 20px;
}

.MyProfile-details h1{
    font-size: 20px;
}
.MyProfile-motivation{
    text-align: center;
    font-style: italic;
    padding-top: 40%;
}

.MyProfile-motivation button{
    margin-top: 10vh;
    //margin-bottom: 230px;
}

.MyProfile-button{
    background: #32E0C4;
    height:45px;
    width: 220px;
    left: 98px;
    top: 672px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 2px;
    font-weight: 600;
    font-size: 20px;
    color: #3F3D56;
    margin-top:0px;
    cursor: pointer;
    /* margin-bottom: 20px; */
}

.profile-atrribute{
    color: #212121;
    font-weight: 700;
    font-size: larger;
}

.attribute-para{
    color: #3F3D56;
    padding: 0 10px;
}

.motivational-para{
    font-size: 1.5rem;
}
.picture-editbutton{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
}
.useredit{
    cursor: pointer;
}