.notification-cntr{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}
.notification-left{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    /* border: 1px black solid; */
    background-color: #212121;
}
.notification-center{
    border: 1px black solid;
    height: 100vh;
    width: 40vw;
}
.notification-right{
    border: 1px black solid;
    height: 100vh;
    width: 40vw;
}
.req-name{
    color: red;
    cursor: pointer;
}