/*.Seek-prnt{
    height: 100vh;
    width: 100%;
}*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.Seek-cntr{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    /* border: 1px black solid; */
}
.Seek-left{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    /* border: 1px black solid; */
    background-color: #212121;
}

.Seek-center{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40%;
    /* margin-top: 5px; */
    justify-content: center;
    align-items: center;
    /* border: 1px black solid; */
}

.Seek-center h2{
    margin: 20px 20px;
}
.Seek-right{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 40%;
    /* border: 1px black solid; */
    overflow: hidden;
    
}

/* .seek-users{
    background-color: ghostwhite;
    margin: 15px 25px;
    padding: 10px 0 10px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #474747;
} */



.class-checkbox{
    font-size: 30px;
}